<ion-header [translucent]="true" class="bg-white">
  <ion-toolbar>
    <ion-title> Search </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="use-background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding bg-white">
    <ion-input
      #searchInput
      label="Search"
      label-placement="floating"
      fill="outline"
      placeholder="Meal name"
      class="search-input"
    ></ion-input>
    <div class="progress-bar-placeholder" *ngIf="!isSearching"></div>
    <ion-progress-bar type="indeterminate" *ngIf="isSearching"></ion-progress-bar>
  </div>

  <ion-list *ngIf="mealList.length">
    <ion-item *ngFor="let meal of mealList, let i = index" class="search-item pointer white-hover">
      <ion-thumbnail
        slot="start"
        class="round"
        *ngIf="!settings?.limitedBandwidth"
        [class.large-avatar]="!settings?.compactMode"
      >
        <img [src]="meal.image" [alt]="meal.name" />
      </ion-thumbnail>
      <ion-label (click)="seeDetails(i)">{{meal.name}}</ion-label>
    </ion-item>
  </ion-list>

  <app-error-card
    [generalError]="generalError"
    [internetError]="internetError"
    [noDataError]="noDataError"
  ></app-error-card>
</ion-content>
