<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Search </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-input
      #searchInput
      label="Search"
      label-placement="floating"
      fill="outline"
      placeholder="Meal name"
    ></ion-input>
  </div>

  <ion-list>
    <ion-item *ngFor="let meal of mealList, let i = index">
      <ion-label (click)="seeDetails(i)">{{meal.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
