<ion-header [translucent]="true" class="bg-white">
  <ion-toolbar>
    <ion-title> Search </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="use-background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding bg-white">
    <ion-input
      #searchInput
      label="Search"
      label-placement="floating"
      fill="outline"
      placeholder="Meal name"
    ></ion-input>
  </div>

  <ion-list *ngIf="mealList.length">
    <ion-item *ngFor="let meal of mealList, let i = index">
      <ion-label (click)="seeDetails(i)">{{meal.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
