<ion-header [translucent]="true" class="bg-white">
  <ion-toolbar>
    <ion-segment *ngIf="showCategoryList" [(ngModel)]="selectedFilterCode" (ngModelChange)="categoryChanged()">
      <ion-segment-button [value]="filters.categories.code">
        <ion-label>{{filters.categories.label}}</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="filters.area.code">
        <ion-label>{{filters.area.label}}</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="filters.ingredients.code">
        <ion-label>{{filters.ingredients.label}}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="start" *ngIf="!showCategoryList">
      <ion-back-button default-href="#" (click)="backButton()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="use-background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" *ngIf="showCategoryList">Categories</ion-title>
      <ion-title size="large" *ngIf="!showCategoryList">Meals</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding bg-white">
    <ion-input
      label="Filter"
      label-placement="floating"
      fill="outline"
      class="filter-input"
      [(ngModel)]="filterText"
      (ngModelChange)="filterChanged()"
    ></ion-input>
    <div class="progress-bar-placeholder" *ngIf="!isLoading"></div>
    <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
  </div>

  <ion-list *ngIf="filteredCategoryList.length && showCategoryList">
    <ion-item *ngFor="let item of filteredCategoryList" (click)="seeMeals(item)" class="pointer white-hover">
      <ion-label>{{item}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="filteredMealList.length && !showCategoryList">
    <ion-item
      *ngFor="let meal of filteredMealList, let i = index"
      (click)="seeDetails(i)"
      class="search-item pointer white-hover"
    >
      <ion-thumbnail
        slot="start"
        class="round"
        *ngIf="!settings?.limitedBandwidth"
        [class.large-avatar]="!settings?.compactMode"
      >
        <img [src]="meal.image + '/preview'" [appImgFallback]="meal.image" [alt]="meal.name" />
      </ion-thumbnail>
      <ion-label>{{meal.name}}</ion-label>
    </ion-item>
  </ion-list>

  <app-error-card [generalError]="generalError" [internetError]="internetError"></app-error-card>
</ion-content>
