.meal-image {
  width: 100%;
  border-radius: 8px;
}

.meal-name {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.meal-name > ion-icon {
  margin-top: 16px;
  font-size: 1.5em;
  flex-shrink: 0;
}

.meal-name > ion-icon:hover {
  color: #5b5b5b;
}

.instructions {
  white-space: pre-wrap;
}

.ingredients-table {
  max-width: 800px;
  margin-inline: 0;
}

.image-title-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .meal-image {
    max-width: clamp(240px, 40vw, 480px);
  }
  .meal-name {
    justify-content: flex-start;
  }
  .image-title-row {
    flex-direction: row;
    gap: 16px;
  }
}
